@import "global_vars";

button {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    border-radius: $button-border-radius;
    line-height: 24px;
    padding: 12px 16px;
    text-align: center;
    border: none;
    color: $global-white;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    .loader {
        position: static;

        svg {
            z-index: 300;
            top: 0 !important;
            left: calc((100% - 100px)/2);
        }
    }
}

.button-primary {
    background-color: $global-red-button;
    color: $global-white;
    font-weight: 700;

    &:hover {
        background-color: #c6444a;
        transition: 0.3s;
    }

    &:active {
        background-color: #cc3038;
        transition: 0.3s;
    }

    &:disabled {
        background-color: #eaecf1;
        color: #bccac6;
        pointer-events: none;
    }
}

.full-width-btn {
    width: 100%;
}

.link_button {
    text-align: center;
    min-width: 88px;
    color: $blue-primary;
    padding: 0 8px;
    margin-top: 16px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-decoration: underline;
    font-weight: 700;
    background-color: transparent;

    &:hover {
        transition: 0.3s;
    }

    &:active {
        transition: 0.3s;
        color: #4ca5a9;
    }

    &:disabled {
        color: #bccac6;
        border: 1px solid #bccac6;
    }
}

.secondary-button {
    border: 1px solid $global-red-button;
    color: $global-red-button;
    background-color: white;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        transition: 0.3s;
        background-color: #ffcccc;
    }

    &:disabled {
        color: #bccac6;
        border: 1px solid #bccac6;
    }
}

.upload-form {
    position: relative;

    .upload-container {
        margin-bottom: 60px;
        height: 307px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='%23DEE2E2FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 32px;

        &:hover {
            transition: 0.3s;
            background-color: #F5FAFB;
            cursor: pointer;
        }

        .upload-custom {
            position: relative;

            .file-custom {
                content: "Upload image";
            }

            .upload-input {
                opacity: 0;
                z-index: 100;
                cursor: pointer;
            }
        }
    }
}

// TODO refactor with upload-form
// for now only changed stroke color
// need to wait for designer
.upload-form-highlighted {
    position: relative;

    .upload-container {
        margin-bottom: 60px;
        height: 307px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='black' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 32px;

        .upload-custom {
            position: relative;

            .file-custom {
                content: "Upload image";
            }

            .upload-input {
                opacity: 0;
                z-index: 100;
                cursor: pointer;
            }
        }
    }
}