$pie_chart_diameter: 300px; // NOTE: has to be equal to value in js passed to d3

.chart {
    &__title {
        margin-bottom: 10px;
    }
}

.pie_chart {
    &__container {
        position: relative;
        width: $pie_chart_diameter;
        height: $pie_chart_diameter;
    }

    &__svg {
        width: $pie_chart_diameter;
        height: $pie_chart_diameter;

        .holder_segment {
            cursor: pointer;
        }
    }

    &__centered_text {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    &__perc_symbol {
        position: absolute;
        margin: 0;
        top: 50%;
        transform: translate(12%, -50%);
        color: white;
    }
}

.holder_list_container .sub-title {
    box-sizing: border-box;
    padding-left: 12px;
}

.holder_item {
    &__container {
        display: flex;
        padding: 0 12px;
        gap: 30px;
        box-sizing: border-box;
        height: 32px;
        align-items: center;
        width: 240px;

        .percentage-text {
            width: 50px;
        }
    }
}

.chart_legends_container {
    display: flex;
    justify-content: center;
}

.chart_legend {
    &__container {
        margin-right: 10px;
    }

    &__color {
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }

    &__text {
        font-weight: 400;
    }
}

.pie-chart-container {
    position: absolute;
    top: -10px;
    left: 30%;
}

.chart_with_legends_container>svg {
    display: block;
}

.charts-container {
    .labeled_box_children {
        padding: 30px;
        padding-bottom: 0;
        padding-right: 0;
        position: relative;

        .charts-select {
            width: 200px;
            position: absolute;
            right: 20px;
        }

        .charts-select.css-b62m3t-container {

            .css-1s2u09g-control,
            .css-1pahdxg-control,
            .css-1f43avz-a11yText-A11yText {
                cursor: pointer;
                background-color: #eaecf1;
                border-radius: 24px;
                border: none;
                box-shadow: none;

                .css-319lph-ValueContainer {
                    overflow: none;

                    .css-qc6sy-singleValue {
                        padding: 2px 16px;
                        color: #686777;
                        font-size: 14px;
                    }

                    .css-6j8wv5-Input input {
                        height: 30px;
                        padding: 0;
                        caret-color: transparent;
                        margin: 0;
                    }
                }

                .css-1hb7zxy-IndicatorsContainer {
                    .css-1okebmr-indicatorSeparator {
                        display: none;
                    }

                    .css-tlfecz-indicatorContainer {
                        svg {
                            fill: #686777;
                        }
                    }
                }
            }

            .css-2613qy-menu {
                margin-top: 0;
            }
        }
    }
}

@media only screen and (max-width: 1330px) {
    .chart_legends_container {
        justify-content: flex-start;
        padding-left: 120px;
    }
}

@media only screen and (max-width: 650px) {
    .chart_legends_container {
        padding-left: 0;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 32px;
    }
}