$pie_chart_diameter: 160px; // NOTE: has to be equal to value in js passed to d3

.chart {
    &__title {
        margin-bottom: 10px;
    }
}

.pie_chart{
    &__container {
        position: relative;
        width: $pie_chart_diameter;
        height: $pie_chart_diameter;
    }

    &__svg {
        width: $pie_chart_diameter;
        height: $pie_chart_diameter; 
    }

    &__centered_text {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    &__perc_symbol {
        position: absolute;
        margin: 0;
        top: 50%;
        transform: translate(12%, -50%);
        color: white;
    }
}

.holder_list_container {
    margin-top: 20px;
    border-top: 1px solid black;
    padding: 0px 20px 0px 20px;
}

.holder_item {
    &__container {
        display: flex;
        padding: 10px 0px 10px 0px;
        justify-content: space-between;
    }
}

.chart_legends_container {
    display: flex;
}

.chart_legend {
    &__container {
        margin-right: 10px;
    }

    &__color {
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }

    &__text {
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.chart_with_legends_container > svg {
    display: block;
}
