$pie_chart_diameter: 280px; // NOTE: has to be equal to value in js passed to d3

.chart {
    &__title {
        margin-bottom: 10px;
    }
}

.pie_chart {
    &__container {
        position: relative;
        width: $pie_chart_diameter;
        height: $pie_chart_diameter;
    }

    &__svg {
        width: $pie_chart_diameter;
        height: $pie_chart_diameter;
    }

    &__centered_text {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    &__perc_symbol {
        position: absolute;
        margin: 0;
        top: 50%;
        transform: translate(12%, -50%);
        color: white;
    }
}

.holder_list_container {
    .sub-title {
        font-weight: bold;
    }
}

.holder_item {
    &__container {
        display: flex;
        padding: 10px 0px 10px 0px;
        justify-content: space-between;
    }
}

.chart_legends_container {
    display: flex;
    justify-content: center;
}

.chart_legend {
    &__container {
        margin-right: 10px;
    }

    &__color {
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }

    &__text {
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.chart_with_legends_container > svg {
    display: block;
}

.charts-container {
    .labeled_box_children {
        padding: 40px;
        position: relative;
        .charts-select {
            width: 200px;
            height: 30px;
            position: absolute;
            right: 40px;
        }
        .charts-select.css-b62m3t-container {
            .css-1s2u09g-control {
                cursor: pointer;
                background-color: #EAECF1;
                border-radius: 24px;
                border: none;
                .css-319lph-ValueContainer {
                    overflow: none;
                    .css-qc6sy-singleValue {
                        padding: 2px 16px;
                        color: #686777;
                    }
                    .css-6j8wv5-Input {
                        height: 30px;
                        padding: 0;
                    }
                }
                .css-1hb7zxy-IndicatorsContainer {
                    .css-1okebmr-indicatorSeparator {
                        display: none;
                    }
                    .css-tlfecz-indicatorContainer {
                        svg{
                            fill: #686777;
                        }
                    }
                }
            }
        }
    }
}