@import "global_vars";

#dao_actions_top_bar {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;

    .link_button {
        color: #787e82;
        text-decoration: none;
        padding: 0 0 10px 0;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
        border-bottom: 2px solid transparent;

        &:hover {
            color: #C6444A;
        }
    }

    .numbers {
        width: 100px;
    }

    .dao_action_tab_item__sel {
        border-radius: 0;
        color: $global-red-button;
        border-bottom: 2px solid $global-red-button;
    }
}

@media only screen and (max-width: 650px) {
    #dao_actions_top_bar {
        margin-bottom: 60px;
    }
}

#dao_description {
    width: 80%;
    color: #686777;
    margin-bottom: 60px;
    line-height: 25.6px;
}

@media only screen and (max-width: 1330px) {
    #dao_description {
        width: 100%;
    }
}


#dao_funds {
    &__cont {
        .dao-funds-title {
            font-size: 2rem;
            margin-bottom: 20px;
            font-weight: bold;
            color: rgb(106, 204, 204);
        }

        .available-funds {
            display: flex;
            font-size: 14px;
            gap: 40px;
            align-items: center;

            .funds {
                font-size: 14px;
                font-weight: normal;
            }
        }
    }

    &__val {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: right;

        // for the icon
        display: flex;
        align-items: center;
        justify-items: right;
        height: 100%;
        gap: 4px;

        svg {
            height: 16px;
        }
    }
}

.dao_action_tab_item {
    &__sel {
        font-weight: 600;
    }
}

.dao_action_active_tab {
    display: flex;
    flex-direction: column;

    .dao-shares {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .top-block {
            margin-bottom: 48px;

            .blue-circle {
                width: 8px;
                height: 8px;
                background-color: $blue-primary;
                border-radius: 50%;
            }

            .available-shares {
                display: flex;
                flex-direction: column;

                .shares-block {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    line-height: 25.6px;

                    .shares-item {
                        display: flex;
                        gap: 12px;
                        align-items: center;
                    }
                }
            }
        }
    }

    .label-input-style {
        margin-bottom: 32px;
    }
}

.dao_action {
    &__lock_container {
        margin-top: 10px;
        padding-top: 20px;
        border-top: 1px solid black;
    }

    &__lock_info {
        margin-bottom: 20px;
    }
}

#withdraw_icon {
    // needed to center vertically (given it's in flex box)
    display: block;
    margin: 0 auto;

    margin-left: 6px;
    cursor: pointer;
}

.create-dao-container,
.update-dao-data {

    .description {
        border: 2px solid red;
    }

    .info {
        color: #686777;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .dao-title {
        font-size: 24px;
        color: #787E82;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .labeled_input {
        .labeled_input__label {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: 24px;
            margin-bottom: 8px;
        }
    }
}

.date-input__container {
    position: relative;

    input:disabled {
        background: #fff;
        color: $black;
    }

    img {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .label-input-style {
        padding-right: 56px;
    }
}

.settings-space {
    margin-top: 60px;
}

.social-media-buttons {
    display: flex;
    gap: 16px;
    align-items: center;

    .button__follow {
        border: 1px solid #55acee;

        &:hover {
            transition: 0.3s;
            background-color: #55acee;
        }

        &:hover img {
            filter: brightness(0) invert(1);
        }
    }

    .button-share {
        border: 1px solid $blue-primary;

        &:hover {
            transition: 0.3s;
            background-color: $blue-primary;
        }

        &:hover img {
            filter: brightness(0) invert(1);
        }
    }

    .share-icon {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
    }
}

.buy-shares-content {
    display: flex;
    justify-content: space-between;

    .buy-shares-right-col {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.arrow-container {
    display: flex;
    align-items: flex-start;
    height: 36px;
}

@media only screen and (min-width: 1780px) {
    .buy-shares-content {
        justify-content: flex-start;
        gap: 150px;
    }
}


@media only screen and (max-width: 1700px) {
    .buy-shares-content {
        flex-direction: column;
        gap: 40px;

        .buy-shares-right-col {
            flex-direction: row;
            gap: 130px;
        }
    }
}

@media only screen and (max-width: 1430px) {
    .shares-block {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 650px) {
    .dao_action_active_tab {    
        .dao-shares {    
            .top-block {    
                .blue-circle {
                    display: none;
                }    
                .available-shares {
                    .shares-block {
                        flex-direction: column;
                        align-items: flex-start;
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    .available-shares {
        .arrow-container {
            display: none;
        }
    }
}

@media only screen and (max-width: 650px) {
    .buy-shares-content {
        
        .buy-shares-right-col {
            flex-direction: column;
            align-items: center;
            gap: 24px;
    
            #shares_const_container, 
            #retrieved-profits {
                align-items: center;
            }
        }
    }
}
