@import "global_vars";

#dao_actions_top_bar {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;

    .link_button {
        color: #787E82;
        text-decoration: none;
        padding-bottom: 10px;
        cursor: pointer;
        font-size: 18px;
    }

    .numbers {
        width: 100px;
    }

    .dao_action_tab_item__sel {
        border-radius: 0;
        color: $global-red-button;
        border: none;
        border-bottom: 2px solid $global-red-button;
    }
}

#dao_description {
    width: 80%;
    color: #686777;
    margin-bottom: 60px;
    font-family: "Gilroy-Light";
    line-height: 1.5;
}

#dao_funds {
    &__cont {
        margin-left: auto;

        .dao-funds-title {
            font-size: 2rem;
            margin-bottom: 20px;
            font-weight: bold;
            color: rgb(106, 204, 204);
        }

        .available-funds {
            display: flex;
            font-size: 14px;
            gap: 40px;
            align-items: center;

            .funds {
                font-size: 14px;
                font-weight: normal;
            }
        }
    }

    &__val {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: right;

        // for the icon
        display: flex;
        align-items: center;
        justify-items: right;
        height: 100%;
        gap: 4px;

        svg {
            height: 16px;
        }
    }
}

.dao_action_tab_item {
    &__sel {
        font-weight: 600;
    }
}

.dao_action_active_tab {
    display: flex;
    flex-direction: column;

    .dao-shares {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;

        .available-shares {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 16px;

            .subTitle {
                font-weight: 600;
            }
        }
    }

    .blue-circle {
        width: 8px;
        height: 8px;
        background-color: $blue-primary;
        border-radius: 50%;
    }

    .label-input-style {
        margin-bottom: 20px;
    }
}

.dao_action {
    &__lock_container {
        margin-top: 10px;
        padding-top: 20px;
        border-top: 1px solid black;
    }

    &__lock_info {
        margin-bottom: 20px;
    }
}

#withdraw_icon {
    // needed to center vertically (given it's in flex box)
    display: block;
    margin: 0 auto;

    margin-left: 6px;
    cursor: pointer;
}

.create-dao-container,
.update-dao-data {
    .description {
        border: 2px solid red;
    }

    .subtitle {
        color: #000000;
        margin-bottom: 48px;
    }

    .info {
        color: #686777;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .dao-title {
        font-size: 18px;
        color: rgb(119, 111, 111);
        font-weight: bold;
        margin-bottom: 40px;
    }

    .labeled_input {
        .labeled_input__label {
            margin-left: 20px;
            margin-bottom: 8px;
        }
    }
}

.social-media-buttons {
    display: flex;
    gap: 16px;
    align-items: center;

    .button__follow {
        border: 1px solid #55acee;

        &:hover {
            transition: 0.3s;
            background-color: #55acee;
        }

        &:hover img {
            filter: brightness(0) invert(1);
        }
    }

    .button-share {
        border: 1px solid $blue-primary;

        &:hover {
            transition: 0.3s;
            background-color: $blue-primary;
        }

        &:hover img {
            filter: brightness(0) invert(1);
        }
    }

    .share-icon {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
    }
}