@import "global_vars";

@mixin amount {
    font-weight: 600px;
    font-size: 1.4rem;
    margin-right: 4px;
}

.funds_act_entry {
    display: flex;
    border: 1px solid $global-border;
    border-radius: $global-border-radius;
    padding: 30px 16px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-wrap: wrap;

    &__amount {
        &__container {
            display: flex;
            margin-right: 20px;
            align-items: center;
            gap: 8px;
        }

        &__income {
            @include amount;
            color: green;
        }

        &__spending {
            @include amount;
            color: red;
        }

        &__logo {
            width: 20px;
            height: 20px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__date {
        font-weight: 300px;
        font-size: 0.8rem;
        color: grey;
    }
}
