@mixin amount {
    font-weight: 600px;
    font-size: 1.4rem;
    margin-right: 4px;
}

.funds_act_entry {
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    padding: 14px 10px 14px 10px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;

    &__amount {
        &__container {
            display: flex;
            margin-right: 20px;
            align-items: center;
        }

        &__income {
            @include amount;
            color: green;
        }

        &__spending {
            @include amount;
            color: red;
        }

        &__algo {
            width: 20px;
            height: 20px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__date {
        font-weight: 300px;
        font-size: 0.8rem;
        color: grey;
    }
}
