@import "global_vars";

@mixin amount {
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 4px;
}

.no-activity {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 120px 0 80px;

    .title {
        color: $grey-120;
        font-weight: 700;
        font-size: 32px;
    }

    .button-primary {
        width: 100%;
    }
}

.funds_act_entry,
.funds_act_entry-tab {
    display: flex;
    border: 1px solid $grey-120;
    border-radius: $global-border-radius;
    padding: 24px;
    margin-bottom: 30px;
    justify-content: space-between;

    &__amount {
        &__container {
            display: flex;
            align-items: center;
            min-width: 205px;

            .address {
                font-size: 18px;
            }

            .arrow {
                margin-right: 16px;
            }

            .arrow-icon {
                margin-right: 16px;
                width: 48px;
                height: 48px;
            }
        }

        &__number {
            margin-left: 9px;
            font-size: 24px;
            font-weight: 700;
        }

        &__logo {
            width: 20px;
            height: 20px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;

        .ellipse {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $grey-120;
            margin: 0 24px;
        }

        .description {
            font-size: 14px;
            line-height: 25.6px;
            color: $grey-190;
        }

        .status {
            color: $grey-150;
            font-size: 14px;
        }
    }

    &__details {
        display: flex;
        margin-left: 35px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .funds_act_entry__date {
            white-space: nowrap;
            font-size: 16px;
            color: $grey-150;
        }

        a {
            font-weight: 600;
            color: $cyan-20;
            text-decoration: underline;
        }
    }
}

.funds_act_entry-tab {
    display: none;
}

@media only screen and (min-width: $desktop-min-width) {
    .funds_act_entry__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media only screen and (max-width: $tablet-max-width) {
    .funds_act_entry-tab {
        padding: 20px;
        display: flex;
        align-items: flex-start;

        .funds_act_entry__body {
            gap: 5px;
            margin-left: 16px;
            flex-grow: 1;

            .funds_act_entry__amount__container {
                min-width: 80px;

                .funds-dollar-icon {
                    opacity: 0.5;
                    width: 16px;
                    height: 16px;
                }
            }

            .wallet {
                font-size: 18px;
                font-weight: 500;
                color: $grey-160;
            }

            .funds_act_entry__amount__number {
                margin-left: 5px;
                font-size: 16px;
            }
        }

        .funds_act_entry__details {
            justify-content: flex-end;
            margin-left: 35px;
            align-self: flex-end;
            line-height: 25.6px;

            .funds_act_entry__date {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-max-width) {
    .funds_act_entry-tab {
        display: flex;
        position: relative;
        padding: 20px;

        .funds_act_entry__details {
            width: auto;
            position: absolute;
            right: 20px;
            top: 24px;
            height: calc(100% - 40px);
            justify-content: space-between;

            .funds_act_entry__date {
                font-size: 12px;
                width: 100px;
            }
        }

        .funds_act_entry__body {
            width: 100%;
            margin-left: 0;
            gap: 10px;

            .order-2 {
                order: 2;
                margin-top: 14px;
            }

            .order-1 {
                order: 1;
            }

            .order-3 {
                order: 3;
            }

            .description {
                width: 100%;
                margin-bottom: 20px;
            }

            .status {
                position: absolute;
                top: 71px;
                left: 137px;
                color: $grey-190;
            }

            .wallet {
                font-weight: 600;
                color: $black;
            }

            .ellipse {
                margin-left: 16px;
            }

            .funds_act_entry__amount__container {
                gap: 8px;

                .funds-arrow-icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }

                .address {
                    margin-left: -28px;
                }

                .funds-dollar-icon {
                    width: 16px;
                    height: 16px;
                    opacity: 1;
                }
            }

            .funds_act_entry__amount__number {
                margin-left: 0;
                font-size: 18px;
            }
        }
    }

    .funds_act_entry {
        .funds-arrow-icon {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    }
}
