@import "global_vars";

body {
    // font-family: system-ui;
    font-style: normal;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#nav_and_main {
    display: inline-flex;
    width: 100%;
    max-width: 1700px;
    margin: auto;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    min-width: 1032px;
    .logo-container {
        position: absolute;
        top: 20px;
        left: 80px;
        width: 70px;
        height: 30px;
        img {
            width: 100%;
        }
    }
}

.dao-name-container {
    margin-bottom: 26px;
}

#content {
    width: calc(100% - 540px);
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 50px;
    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        .title {
            font-size: $global-title;
            font-weight: bold;
        }
        .social-media-buttons {
            display: flex;
            gap: 12px;
            align-items: center;
            .button__follow {
                background-color: rgb(91, 166, 247);
            }
            .share-icon {
                border-radius: 50%;
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background: rgb(89, 194, 177);
                cursor: pointer;
            }
        }
    }
    .content-img {
        width: 100%;
        height: 280px;
        border-radius: $global-border-radius;
        margin-bottom: 36px;
        background: url('https://placekitten.com/1000/400')
    }

    &__title {
        font-weight: 700;
        font-size: 34px;
        color: black;
        margin-bottom: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}

.submit-button {
    display: block;
    position: relative;
    margin-top: 8px;
    margin-bottom: 16px;
}

select {
    outline: none;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #d8e1ea;
    padding: 0px 15px;
    font-size: 16px;
}

#container {
    // width: 100vw;
    box-sizing: border-box;
}

#container * {
    word-break: break-word;
    // recet text-align: center in container to center the main content
}

.input-row input {
    margin-right: 5px;
}

.form {
    padding-top: 20px;
    margin-bottom: 10px;
}

#root {
}

.inline {
    display: inline-block;
}

.error {
    border-radius: $global-border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    margin-bottom: 16px;
    padding: 10px;
    background-color: red;
    color: white;
    /* color: red; */
}

.success {
    border-radius: $global-border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    margin-bottom: 16px;
    padding: 10px;
    background-color: green;
    color: white;
    /* color: green; */
}

.submit-msg {
    margin-bottom: 16px;
}

.submit-msg-warning {
    margin-bottom: 16px;
    color: orangered;
}

.submit-swap-title {
    margin-bottom: 16px;
}

.submit-swap-label {
    margin-top: 16px;
    margin-bottom: 2px;
}

.submit-sign-and-submit-button {
    display: block;
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.warning {
    color: orangered;
    margin-bottom: 12px;
}

.footer {
    position: fixed;
    left: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer > *:not(:last-child) {
    margin-right: 20px;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1201;
}

.modal-content {
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    border: 1px solid grey;
    position: absolute;
    border-radius: $global-border-radius;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2000;
}

.modal-content-size {
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
}

.modal-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.modal-topbar-title {
    margin: 0;
    color: black;
}

.modal-topbar-x {
    margin: 0;
    cursor: pointer;
}

.modal-body {
    overflow-y: scroll;
    scrollbar-width: none;
}

.modal-body::-webkit-scrollbar {
    width: 4px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #888;
}

@media only screen and (max-width: 460px) {
    .modal-content-size {
        max-width: 350px;
        min-width: 350px;
        min-height: 350px;
    }
}

.link-data-container {
    text-align: center;
}

.withdrawal-cell-container {
    margin-top: 40px;
    min-width: 400px;
}

.withdrawal-cell {
    border-style: solid;
    border-width: 1px;
    border-radius:$global-border-radius;
    /* border: 1px solid #383e42; */
    border: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    /* color: grey; */
}

.subtitle {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
}

.name-label {
    margin-bottom: 6px;
}

.key-val-key {
    /* font-weight: 300; */
    color: gray;
}

.key-val-val {
    /* font-weight: 600; */
    margin-left: 4px;
}

.right-button {
    margin-left: 6px;
    height: 25px;
    border: 1px solid lightgray;
    padding: 0px 6px;
}

.section-spacer {
    height: 20px;
}

.modal-button {
    margin-top: 20px;
}

.slider {
    position: fixed;
    width: 100%;
    height: 5px;
    overflow-x: hidden;
}

.shares-total-price {
    margin-left: 4px;
    color: gray;
}

#user-data {
    margin-bottom: 16px;
}

/*********************/
/* progress bar */
/*********************/
.line {
    position: absolute;
    opacity: 0.4;
    background: #18a8d8;
    width: 100%;
    height: 5px;
}

.subline {
    position: absolute;
    background: #18a8d8;
    height: 5px;
}

.inc {
    animation: increase 2s infinite;
}

.dec {
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}

/*********************/
/*********************/

.labeled_box {
    margin-bottom: 70px;
}

.labeled_box_label {
    font-weight: 600;
    font-size: $global-title;
    margin-bottom: 36px;
}

p {
    margin: 0px;
}

.labeled_box_children {
    border: 1px solid $global-border;
    border-radius: $global-border-radius;
    padding: 30px;
    .investors-container {
        display: flex;
        justify-content: space-between;
        .holder_item__container {
            display: flex;
            gap: 30px;
            .percentage-text {
                font-weight: bold;
            }
        }
        .sub-title {
            font-weight: bold;
        }
    }
}

.first_dao_widget {
    margin-top: 40px;
    .funds-assets {
        width: 20px;
        height: 20px;
    }
    .labeled_box_label {
        font-size: 16px;
    }
    .labeled_box_children {
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        font-size: 18px;
        font-weight: bold;
        flex-wrap: wrap;
        gap: 8px;
    }
    .funds_act_entry {
        border: none;
        padding: 10px;
        margin-bottom: 6px;
    }
}

.section_container {
    margin-bottom: 20px;

    svg {
        height: 14px;
        margin-left: 4px;
    }
}

.text_with_currency {
    display: flex;
    align-items: center;
}

.section_small_bottom {
    margin-bottom: 10px;
}

.section_large_bottom {
    margin-bottom: 40px;
}

#banner_img {
    width: 100%;
    margin-bottom: 30px;
}