@import "global_vars";

body {
    // font-family: system-ui;
    font-style: normal;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#nav_and_main {
    display: inline-flex;
    width: 100%;
    max-width: 1700px;
    margin: auto;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    min-width: 1032px;

    .logo-container {
        position: absolute;
        top: 30px;
        left: 4%;
        width: 70px;
        height: 30px;

        img {
            width: 100%;
        }
    }
}

.box-container {
    background-color: #f5fafb;
    border-radius: $global-border-radius-m;
    padding: 32px;
    position: relative;

    .title {
        color: $blue-primary;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 36px;
    }
}

.dao-name-container {
    margin-bottom: 26px;
}

#content {
    width: calc(100% - 596px);
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 50px;

    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        .title {
            font-size: $global-title;
            font-weight: bold;
        }
    }

    .content-img {
        width: 100%;
        height: 360px;
        border-radius: $global-border-radius;
        margin-bottom: 36px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__title {
        font-weight: 700;
        font-size: $global-title;
        color: $black;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-weight: 700;
            font-size: 2rem;
            color: $black;
        }
    }
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}

.submit-button {
    display: block;
    position: relative;
    margin-top: 8px;
    margin-bottom: 16px;
}

select {
    outline: none;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #d8e1ea;
    padding: 0px 15px;
    font-size: 16px;
}

#container {
    // width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container * {
    word-break: break-word;
    // recet text-align: center in container to center the main content
}

.input-row input {
    margin-right: 5px;
}

.form {
    padding-top: 20px;
    margin-bottom: 10px;
}

#root {}

.inline {
    display: inline-block;
}

.error {
    border-radius: $global-border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    margin-bottom: 16px;
    padding: 10px;
    background-color: red;
    color: white;
    /* color: red; */
}

.success {
    border-radius: $global-border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    margin-bottom: 16px;
    padding: 10px;
    background-color: green;
    color: white;
    /* color: green; */
}

.submit-msg {
    margin-bottom: 16px;
}

.submit-msg-warning {
    margin-bottom: 16px;
    color: orangered;
}

.submit-swap-title {
    margin-bottom: 16px;
}

.submit-swap-label {
    margin-top: 16px;
    margin-bottom: 2px;
}

.submit-sign-and-submit-button {
    display: block;
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.warning {
    color: orangered;
    margin-bottom: 12px;
}

.footer {
    position: fixed;
    left: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer>*:not(:last-child) {
    margin-right: 20px;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1201;

    .modal-content {
        box-sizing: border-box;
        padding: 60px 40px;
        width: 40%;
        max-width: 650px;
        position: absolute;
        border-radius: $global-border-radius-m;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 2000;

        .modal-topbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .modal-topbar-title {
                font-weight: 700;
                font-size: 32px;
                color: black;
                margin-bottom: 48px;
            }

            .modal-topbar-x {
                margin-top: -100px;
                cursor: pointer;
            }
        }

        .modal-body {
            overflow-y: scroll;
            scrollbar-width: none;

            .modal-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                margin-bottom: 60px;

                .social-media-share {
                    width: 300px;
                    border-radius: $button-border-radius;
                    height: 48px;
                    padding: 14px 18px;
                    box-sizing: border-box;
                    cursor: pointer;

                    a {
                        display: flex;
                        gap: 10px;
                        width: 100%;
                    }

                    img {
                        z-index: 2;
                    }

                    .title {
                        color: $global-white;
                        font-weight: 700;
                    }
                }

                .facebook {
                    background-color: #3B5999;
                }

                .linkedin {
                    background-color: #0A66C2;
                }

                .twitter {
                    background-color: #55ACEE;
                }

                .instagram {
                    background-color: #DB4379;
                }

                .discord {
                    background-color: #5865F2;
                }
            }
        }

        .modal-body::-webkit-scrollbar {
            width: 4px;
        }

        .modal-body::-webkit-scrollbar-thumb {
            background: #888;
        }
    }

    .modal-content-size {
        min-width: 400px;
        min-height: 400px;
    }
}

@media only screen and (max-width: 460px) {
    .modal-content-size {
        max-width: 350px;
        min-width: 350px;
        min-height: 350px;
    }
}

.link-data-container {
    text-align: center;
}

.withdrawal-cell-container {
    margin-top: 40px;
    min-width: 400px;
}

.withdrawal-cell {
    border-style: solid;
    border-width: 1px;
    border-radius: $global-border-radius;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.subtitle {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
}

.name-label {
    margin-bottom: 6px;
}

.key-val-key {
    /* font-weight: 300; */
    color: gray;
}

.key-val-val {
    margin-left: 4px;
}

.right-button {
    margin-left: 6px;
    height: 25px;
    border: 1px solid lightgray;
    padding: 0px 6px;
}

.section-spacer {
    height: 20px;
}

.modal-button {
    margin-top: 20px;
}

.slider {
    position: fixed;
    width: 100%;
    height: 5px;
    overflow-x: hidden;
}

.shares-total-price {
    margin-left: 4px;
    color: gray;
}

#user-data {
    margin-bottom: 16px;
}

/*********************/
/* progress bar */
/*********************/
.line {
    position: absolute;
    opacity: 0.4;
    background: #18a8d8;
    width: 100%;
    height: 5px;
}

.subline {
    position: absolute;
    background: #18a8d8;
    height: 5px;
}

.inc {
    animation: increase 2s infinite;
}

.dec {
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}

/*********************/
/*********************/

.labeled_box {
    margin-bottom: 70px;
}

.labeled_box_label {
    font-weight: 600;
    font-size: $global-title;
    margin-bottom: 36px;
    color: $black;
}

p {
    margin: 0px;
}

#investors-distribution .labeled_box_children {
    padding-bottom: 60px;
}

.labeled_box_children {
    border: 1px solid $global-border;
    border-radius: $global-border-radius;
    padding: 30px;

    .investors-container {
        display: flex;
        justify-content: space-between;
        position: relative;

        .sub-title {
            font-weight: bold;
            margin-bottom: 36px;
        }

        img {
            margin-left: 10px;
        }

        .flexBlock {
            display: flex;
            gap: 20px;
            margin-bottom: 16px;
        }
    }
}

.first_dao_widget {
    margin-top: 40px;
    border: 1px solid $global-border;
    border-radius: 20px;
    padding: 20px;

    .labeled_box {
        margin-bottom: 32px;
    }

    .funds-assets {
        width: 20px;
        height: 20px;
    }

    .labeled_box_label {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .labeled_box_children {
        display: flex;
        flex-direction: row;
        gap: 8px;
        font-size: 18px;
        font-weight: bold;
        flex-wrap: wrap;
        gap: 8px;
        border: none;
        padding: 0;
    }

    .funds_act_entry {
        padding: 0;
        margin-bottom: 26px;
        border: none;

        &__amount__container {
            width: 80%;
        }

        &__body {
            display: flex;
            align-items: flex-end;
        }

        &__date {
            color: #787E82;
            font-size: 12px;
        }

        .details {
            color: #6BB9BD;
            text-decoration: underline;
            width: 100%;
        }
    }
}

.section_container {
    margin-bottom: 20px;
}

.text_with_currency {
    display: flex;
    align-items: center;
}

.section_small_bottom {
    margin-bottom: 10px;
}

.section_large_bottom {
    margin-bottom: 40px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-25 {
    width: 25%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.opacity-70 {
    opacity: 0.7;
}

.ft-weight-600 {
    font-weight: 600;
}

.ft-color-black {
    color: $black;
}

.ft-color-grey {
    color: #686777;
}

.ft-size-14 {
    font-size: 14px;
}

.ft-size-12 {
    font-size: 12px;
}

.gap-10 {
    gap: 10px;
}

.gap-4 {
    gap: 4px;
}

.mt-1 {
    margin-top: 6px;
}

.mt-6 {
    margin-top: 32px;
}

.mb-5 {
    margin-bottom: 30px;
}

.selected {
    border: 1px solid $global-red-button;
    border-radius: $global-border-radius;
    box-sizing: border-box;
}

.circle {
    background-color: #EAECF1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

#update-app {
    .button-primary {
        margin-left: 30px;
        height: 32px;
        width: 90px;
    }
}