@import "global_vars";

body {
    // font-family: system-ui;
    font-style: normal;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
    color: $black;
}

a {
    text-decoration: none;
}

#nav_and_main {
    display: inline-flex;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    margin-top: 60px;
    padding: 0 3%;
    box-sizing: border-box;
    min-width: 1032px;
    position: relative;
}

.box-container {
    background-color: #f5fafb;
    border-radius: $global-border-radius-m;
    padding: 40px;

    .title {
        color: $blue-primary;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 36px;
        
    }
}

.dao-name-container {
    margin-bottom: 26px;
}

#content {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    padding: 0 40px 0 80px;
    z-index: 2;
    justify-content: center;

    .title-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;

        .title {
            font-size: $global-title;
            font-weight: 700;
        }
    }

    .content-img {
        width: 100%;
        height: 360px;
        border-radius: $global-border-radius;
        margin-bottom: 36px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__title {
        font-weight: 700;
        font-size: $global-title;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-weight: 700;
            font-size: 2rem;
            color: $black;
        }
    }
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}

.submit-button {
    display: block;
    position: relative;
    margin-top: 8px;
    margin-bottom: 16px;
}

select {
    outline: none;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #d8e1ea;
    padding: 0px 15px;
    font-size: 16px;
}

#container {
    // width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row input {
    margin-right: 5px;
}

.form {
    padding-top: 20px;
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
}

.error {
    border-radius: $global-border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    margin-bottom: 16px;
    padding: 10px;
    background-color: red;
    color: white;
    /* color: red; */
}

.success {
    border-radius: $global-border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    margin-bottom: 16px;
    padding: 10px;
    background-color: green;
    color: white;
    /* color: green; */
}

.submit-msg {
    margin-bottom: 16px;
}

.submit-msg-warning {
    margin-bottom: 16px;
    color: orangered;
}

.submit-swap-title {
    margin-bottom: 16px;
}

.submit-swap-label {
    margin-top: 16px;
    margin-bottom: 2px;
}

.submit-sign-and-submit-button {
    display: block;
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.warning {
    color: orangered;
    margin-bottom: 12px;
}

.footer {
    position: fixed;
    left: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer>*:not(:last-child) {
    margin-right: 20px;
}

.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10001;

    .modal-content {
        box-sizing: border-box;
        padding: 60px 40px;
        width: 40%;
        max-width: 650px;
        position: absolute;
        border-radius: $global-border-radius-m;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 2000;
        animation-name: modalAnimation;
        animation-duration: 0.5s;

        .modal-topbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .modal-topbar-title {
                font-weight: 700;
                font-size: 32px;
                color: black;
                margin-bottom: 48px;
            }

            .modal-topbar-x {
                margin-top: -100px;
                cursor: pointer;
            }
        }

        .modal-body {

            .modal-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                margin-bottom: 60px;

                .social-media-share {
                    width: 300px;
                    border-radius: $button-border-radius;
                    height: 48px;
                    padding: 14px 18px;
                    box-sizing: border-box;
                    cursor: pointer;

                    a {
                        display: flex;
                        gap: 10px;
                        width: 100%;
                    }

                    img {
                        z-index: 2;
                    }

                    .title {
                        color: $global-white;
                        font-weight: 700;
                    }
                }

                .facebook {
                    background-color: #3b5999;
                }

                .linkedin {
                    background-color: #0a66c2;
                }

                .twitter {
                    background-color: #55acee;
                }

                .instagram {
                    background-color: #db4379;
                }

                .discord {
                    background-color: #5865f2;
                }
            }
        }
    }

    .modal-content-size {
        min-width: 400px;
        min-height: 400px;
    }

    @keyframes modalAnimation {
        from {
            opacity: 0;
        }

        ;

        to {
            opacity: 1;
        }

    }
}

@media only screen and (max-width: 460px) {
    .modal-content-size {
        max-width: 350px;
        min-width: 350px;
        min-height: 350px;
    }
}

.link-data-container {
    text-align: center;
}

.withdrawal-cell-container {
    margin-top: 40px;
    min-width: 400px;
}

.withdrawal-cell {
    border-style: solid;
    border-width: 1px;
    border-radius: $global-border-radius;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.desc {
    font-size: 18px;
    font-weight: 600;
}

.subtitle {
    font-size: 24px;
    font-weight: 700;
}

.name-label {
    margin-bottom: 6px;
}

.key-val-key {
    /* font-weight: 300; */
    color: gray;
}

.key-val-val {
    margin-left: 4px;
}

.right-button {
    margin-left: 6px;
    height: 25px;
    border: 1px solid lightgray;
    padding: 0px 6px;
}

.section-spacer {
    height: 20px;
}

.modal-button {
    margin-top: 20px;
}

.shares-total-price {
    margin-left: 4px;
    color: gray;
}

.labeled_box {
    margin-bottom: 70px;
    width: 100%;
}

.labeled_box_label {
    font-weight: 700;
    font-size: $global-title;
    margin-bottom: 40px;
    color: $black;
}

p {
    margin: 0px;
}

.labeled_box_children {
    border: 1px solid $global-border;
    border-radius: $global-border-radius;
    padding: 40px;
    box-sizing: border-box;

    .investors-container {
        display: flex;
        justify-content: space-between;
        max-width: 830px;

        .sub-title {
            display: flex;
            align-items: center;
            margin-bottom: 26px;
            font-weight: 600;
            font-size: 18px;
        }

        img {
            margin-left: 10px;
        }

        .flexBlock {
            display: flex;
            align-items: center;
            margin-bottom: 37px;
        }
    }
}

@media only screen and (min-width: 651px) {
    .pie_chart__container {
        height: 370px;
        display: flex;
        align-items: center;
    }
} 

.first_dao_widget {
    margin-top: 40px;
    border: 1px solid $global-border;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;

    .labeled_box {
        margin-bottom: 32px;
    }

    .funds-assets {
        width: 20px;
        height: 20px;
    }

    .labeled_box_label {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .labeled_box_children {
        display: flex;
        flex-direction: row;
        gap: 8px;
        font-size: 18px;
        font-weight: bold;
        flex-wrap: wrap;
        gap: 8px;
        border: none;
        padding: 0;
    }

    .funds_act_entry {
        padding: 0;
        margin-bottom: 26px;
        border: none;
        border-radius: 0;
        position: relative;

        &__amount__container {
            width: 80%;

            .type-label {
                margin-left: 8px;
                color: #787E82;
            }
        }

        &__body {
            position: absolute;
            top: 5px;
            right: 0;
            display: flex;
            align-items: flex-end;
            gap: 8px;
            justify-content: space-between;
        }

        &__date {
            color: #787e82;
            font-size: 12px;
        }

        .details {
            color: #6bb9bd;
            text-decoration: underline;
            width: auto;
            font-weight: 600;
        }
    }
}

.section_container {
    margin-bottom: 20px;
}

.text_with_currency {
    display: flex;
    align-items: center;
}

.section_small_bottom {
    margin-bottom: 10px;
}

.section_large_bottom {
    color: #686777;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.position-relative {
    position: relative;
}

.s-14 {
    width: 14px;
    height: 14px;
}

.w-100 {
    width: 100%;
}

.w-94 {
    width: 94%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-25 {
    width: 25%;
}

.h-16 {
    height: 16px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

@media only screen and (max-width: 1330px) {

    .d-tablet-flex-column {
        flex-direction: column;
    }
}   

.nowrap {
    white-space: nowrap;
}

.align-start {
    align-items: flex-start;
}

.opacity-0 {
    opacity: 0;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-50 {
    opacity: 0.5;
}

.ft-weight-500 {
    font-weight: 500;
}

.ft-weight-600 {
    font-weight: 600;
}

.ft-weight-700 {
    font-weight: 700;
}

.ft-color-black {
    color: $black;
}

.ft-color-black-000 {
    color: $black-000;
}

.ft-color-grey {
    color: #686777;
}

.ft-size-18 {
    font-size: 18px;
}

.w-100-p {
    width: 100px;
}

.ft-size-14 {
    font-size: 14px;
}

.ft-size-12 {
    font-size: 12px;
}

.ft-size-24 {
    font-size: 24px;
}

.ft-size-32 {
    font-size: 32px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.gap-4 {
    gap: 4px;
}

.ft-weight-bold {
    font-weight: 700;
}

.selected {
    border: 1px solid $global-red-button;
    border-radius: $global-border-radius;
    box-sizing: border-box;
}

.circle {
    background-color: #eaecf1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

#update-app {
    .button-primary {
        margin-left: 30px;
    }
}

@media only screen and (min-width: 1331px) and (max-width: 1450px) {
    #content {
        padding: 0 24px;
    }
}

@media only screen and (max-width: 1330px) {
    #content {
        margin-top: 60px;
        padding: 0 40px;
        max-width: 800px;

        .content-img {
            height: 240px;
        }

        .title-container {
            flex-direction: column;
            gap: 40px;
            align-items: flex-start;
            margin-bottom: 40px;
        }

        .profits-by-shares {
            position: relative;
            height: 280px;
            padding: 44px 40px;

            .profits-tab {
                margin-top: 40px;
            }
        }

        .box-container {
            padding: 40px;
        }

        .first_dao_widget {
            display: flex;
            width: 100%;
            border: none;
            margin-bottom: 76px;
            flex-direction: column;
            justify-content: center;
            padding: 0;

            .see-all {
                text-align: center;
            }
        }
    }

    #investors-distribution {
        .labeled_box_children {
            padding: 44px 40px 40px 40px;

            .investors-container {
                .holder_list_container .sub-title {
                    padding-left: 0;
                }
            }
        }
    }

    .modal .modal-content {
        width: 85%;
        max-width: auto;
    }
}

@media only screen and (max-width: 650px) {
    #content {
        padding: 0 20px;
        margin-top: 68px;

        .shares-box {
            height: 750px;
        }

        .shares-box.box-container {
            box-sizing: border-box;
        }

        .box-container {
            padding: 40px 20px;
        }

        .content-img {
            height: 266px;
            margin-bottom: 24px;
        }

        .title-container {
            gap: 24px;
            margin-bottom: 24px;
        }

        .labeled_box_label {
            text-align: center;
        }
    }

    #investors-distribution {
        .labeled_box_children {
            .investors-container {
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

.d-none {
    display: none;
}

$tablet_bp: 1600px;
$mobile_bp: 650px;

@media only screen and (max-width: $mobile_bp) {
    .d-mobile-block {
        display: block;
    }

    .d-mobile-none {
        display: none;
    }
}
@media only screen and (min-width: 1601px) {
    .d-desktop-block {
        display: block;
    }

    .d-desktop-none {
        display: none;
    }

    .holder_list_container {
        min-width: 203px;
    }
}

@media only screen and (max-width: $mobile_bp) {
    .available-shares {
        height: 100%;
        flex-direction: column;

        .title {
            margin-bottom: 80px;
        }

        .shares-chart {
            display: flex;
            align-self: center;
            width: 200px;
        }

        .subtitle {
            font-size: 18px;
            font-weight: 600;
        }
    }
}

@media only screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
    .d-tablet-none {
        display: none;
    }

    .d-tablet-block {
        margin-top: 40px;
        display: block;
    }
}

@media only screen and (max-width: $tablet_bp) {

    .d-tablet-mobile-none {
        display: none;
    }
}

@media only screen and (max-width: 1600px) {

    .shares-box {
        .shares-amount {
            width: 100%;

            .available-shares {
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    .shares-box .shares-amount .buy-shares-input .labeled_input {
        margin-top: 0;
    }

    .box-container .shares-amount .buy-shares-input .labeled_input {
        margin-top: 0;
    }

}

@media only screen and (min-width: 1601px) {
    .shares-box {
        .shares-amount {
            width: 100%;
            max-width: 550px;
        }
    }

    .shares-chart {
        min-width: 350px;
    }
}

@media only screen and (min-width: 1631px) {

    .buy-shares-left-col {
        width: 100%;
        max-width: 520px;
    }
}

.shares-box {
    height: 565px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    .shares-amount {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .shares-chart {
        max-width: 350px;
    }
}

.shares-amount .available-shares {
    display: flex;
    width: 100%;
}