$global_top_padding: 50px;
$global-title: 2rem;
$global-red-button: #d15555;
$global-border: #ece8e8;
$global-white: #fff;
$global-border-radius: 12px;
$global-light-blue: #66bad2;
$global-blue-background: #f5fbfb;