$global_top_padding: 50px;
$global-title: 40px;
$global-red-button: #DE5C62;
$global-border: #DEE2E2;
$global-white: #fff;
$global-border-radius: 12px;
$global-border-radius-m: 20px;
$button-border-radius: 24px;
$global-light-blue: #66bad2;
$global-blue-background: #f5fbfb;
$black: #1A1818;
$black-000: #000;
$blue-primary: #6BB9BD;