$global-border-radius: 12px;
$global-border-radius-m: 20px;
$button-border-radius: 24px;
$global_top_padding: 50px;
$global-title: 40px;

// Breakpoints
$mobile-max-width: 650px;
$tablet-min-width: 651px;
$tablet-max-width: 1330px;
$desktop-min-width: 1331px;
$desktop-max-width: 1600px;
$desktop-lg-min-width: 1601px;

// Colors
$white: #fff;

$pink-10: #fff2f2;
$pink-20: #ffcccc;
$pink-30: #db4379;

$red-10: #de5c62;
$red-20: #e84f5f;
$red-30: #ff0000;
$red-40: #c6444a;
$red-50: #cc3038;

$green-10: #eefdf6;
$green-20: #6BBE8C;

$cyan-10: #6acccc;
$cyan-20: #6bb9bd;
$cyan-30: #4ca5a9;

$blue-10: #f5fafb;
$blue-20: #55acee;
$blue-30: #5865f2;
$blue-40: #0a66c2;
$blue-50: #3b5999;

$grey-100: #ede7e7;
$grey-110: #eaecf1;
$grey-120: #dee2e2;
$grey-130: #d8e1ea;
$grey-140: #bccac6;
$grey-150: #787e82;
$grey-160: #686777;
$grey-170: #4f4f4f;
$grey-180: #292626;
$grey-190: #1a1818;

$black: #000;