@import "global_vars";

.crop_container {
    position: absolute;
    width: 100%;
    height: 307px;
    border-radius: 32px;
    top: 0;
    left: 0;
    z-index: 200;

    .container,
    .reactEasyCrop_Container {
        border-radius: 32px;

        .reactEasyCrop_Image {
            max-height: auto;
        }
    }

    .btn-container {
        position: absolute;
        right: 16px;
        bottom: 16px;
        display: flex;
        gap: 40px;

        button {
            font-size: 16px;
        }

        .delete {
            background-color: $grey-190;
        }
    }
}