input {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    appearance: none;
    height: 30px;
    border: 1px solid #383e42;
    padding: 10px 15px;
    font-family: inherit;
    font-size: 16px;
    outline: 0;
    box-sizing: border-box;
}

.labeled_input {
    margin-bottom: 20px;

    &__label {
        color: black;
        margin-bottom: 4px;
    }
}

.last_input {
    margin-bottom: 30px;
}

.full_width_input {
    width: 100%;
}

// for things that are not inputs but appear in forms and need the same bottom spacing
.input_spacing {
    margin-bottom: 20px;
}
