@import "global_vars";

input,
textarea {
    width: 100%;
    border-radius: $button-border-radius;
    border: 1px solid $global-border;
    padding: 10px 15px;
    font-size: 16px;
    box-sizing: border-box;
    height: 50px;
    cursor: pointer;
    outline: none;

    &:hover,
    &:active,
    &:focus {
        transition: 0.3s;
        border: 1px solid #686777;
    }

    &:disabled {
        color: #DEE2E2;
        pointer-events: none;
    }

    &::placeholder {
        color: $black;
        font-family: "Gilroy";
    }
}

textarea {
    height: auto;
    padding: 20px 24px;
    resize: none;
    font-family: "Gilroy";
}

.labeled_input {
    margin-bottom: 32px;

    &__label {
        color: $black;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 20px;
    }

    &__error {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #E84F5F;
        margin-top: 8px;
        margin-left: 20px;
    }
}

.label-input-style {
    padding-left: 20px;
    height: 64px;
    box-sizing: border-box;
    border-radius: 32px;
}

.msg_error {
    border: 1px solid #E84F5F;
}

.last_input {
    margin-bottom: 30px;
}

.full_width_input {
    width: 100%;
}

// for things that are not inputs but appear in forms and need the same bottom spacing
.input_spacing {
    margin-bottom: 20px;
}

.input_with_currency {
    &__container {
        display: flex;
        gap: 10px;

        >svg {
            height: 40px;
        }
    }
}