@import "global_vars";

#invest_em_share_count_input {
    width: 100px;
}

#shares_const_container,
#retrieved-profits {
    display: flex;
    flex-direction: column;
    gap: 16px;

    svg {
        height: 14px;
        margin-left: 4px;
    }
}

.box-container {
    margin-bottom: 80px;

    .flex-block {
        width: auto;
        display: flex;
        gap: 12px;

        .arrow {
            margin-top: -16px;
        }

        .subTitle {
            color: $black;
            font-weight: 600;
            font-size: 18px;
        }

        .retrieved {
            color: #686777;

            &:nth-child(2) {
                margin-left: 12px;
            }
        }

        .fund-asset {
            width: 22px;
            height: 22px;
        }
    }

    .chartBlock {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        gap: 16px;

        .numbers {
            width: 60px;
            flex-shrink: 0;
        }
    }

    .button-primary {
        width: 236px;
    }

    @media only screen and (max-width: 650px) {
    
        .button-primary {
            width: 100%;
        }
    }

    .labeled_input {
        margin-top: 40px;
    }
}