// Margins top
.mt-1 {
  margin-top: 6px;
}

.mt-6 {
  margin-top: 32px;
}

.mt-7 {
  margin-top: 48px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

// Margins Bottom
.mb-1 {
  margin-bottom: 6px;
}

.mb-4 {
  margin-bottom: 24px;
}

.mb-5 {
  margin-bottom: 30px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-6 {
  margin-bottom: 40px;
}

.mb-7 {
  margin-bottom: 80px;
}

// Margins Left
.ml-5 {
  margin-left: 24px;
}

// Margins Right
.mr-3 {
  margin-right: 16px;
}

.mr-2 {
  margin-right: 10px;
}
