@import "global_vars";

.my-daos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .my_dao {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
        width: calc((100% - 40px)/2);
        box-sizing: border-box;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: $global-border-radius;

        .img-placeholder {
            width: 100%;
            height: 180px;
            background-image: url('../images/placeholder.svg');
            border-radius: $global-border-radius;
            background-size: cover;
            background-position: center;
        }

        &__involvement_icon {
            width: 100%;
            height: 150px;
            border-radius: $global-border-radius;
        }
    }

    .my_dao_create_project {
        height: 180px;
        border: 2px dashed $global-red-button;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $global-border-radius;

        img {
            cursor: pointer;
        }
    }

    a {
        color: black;
        font-size: 18px;
        font-weight: 700;
    }

    .create-link {
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    .my-daos-container .my_dao {
        width: 100%;
    }
}