#project_actions_top_bar {
    display: flex;
    gap: 30px;
    align-items: center;
}

#project_description {
    color: grey;
    margin-bottom: 20px;
}

#project_funds {
    &__cont {
        margin-left: auto;
    }

    &__val {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: right;

        // for the icon
        display: flex;
        align-items: center;
        justify-items: right;
        height: 100%;
    }
}

.project_action_tab_item {
    &__sel {
        font-weight: 600;
    }
}

.project_action_active_tab {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.project_action {
    &__stake_container {
        margin-top: 10px;
        padding-top: 20px;
        border-top: 1px solid black;
    }

    &__stake_info {
        margin-bottom: 20px;
    }
}

#withdraw_icon {
    // needed to center vertically (given it's in flex box)
    display: block;
    margin: 0 auto;

    margin-left: 6px;
    cursor: pointer;
}
