@import "global_vars";

#rightcol {
    width: 23%;
    min-width: 300px;

    .my-account-container {
        border: 1px solid rgb(237, 231, 231);
        padding: 24px;
        border-radius: $global-border-radius;
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .text {
            color: #000000;
            font-family: "Gilroy-Bold";
            font-size: 18px;
        }
    }
}

.my_address {
    margin-top: 8px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    .myalgo {
        width: 19px;
        height: 22px;
        margin-bottom: -4px;
        margin-left: 14px;
    }

    .arrow {
        width: 20px;
        height: 18px;
        margin-left: 14px;
        cursor: pointer;
    }
}

.my_address>a {
    color: black;
    font-size: 18px;
}

#user_data {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
}

#my_account_my_balance {
    &__shares {
        font-size: 1rem;
        color: $black;
        font-weight: 600;
        margin-bottom: 32px;
    }

    &__balance {
        font-size: 1rem;
        color: $black;
        display: flex;
        gap: 4px;
        align-items: center;
        font-weight: 600;

        svg {
            height: 14px;
        }
    }
}

.social_media {
    &__container {
        padding: 20px 20px 20px 40px;
    }

    &__link {
        color: #adadad;
        font-weight: 300;
    }
}