$roadmap_item_height: 100px;
$roadmap_header_height: 60px;
$line_color: gray;

@mixin line_svg {
    width: 60px;
    height: 100%;
    stroke: rgb(139, 221, 240);
    fill: rgb(139, 221, 240);
}

.roadmap_header {
    font-size: 2rem;
    font-weight: 600;
    height: $roadmap_header_height;
    line-height: $roadmap_header_height;
    display: flex;
    margin-left: -30px;

    &__line_svg {
        @include line_svg();
    }
}
.roadmap_item {
    margin-left: -30px;
}

.roadmap-container {
    .title_right_button {
        height: 40px;
        margin-left: auto;
        cursor: pointer;
        width: 140px;
        border: 1px solid rgb(209, 85, 85);
        border-radius: 24px;
        text-align: center;
        color: rgb(209, 85, 85);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: transparent;
        font-weight: bold;
        .title_right_icon {
            background-color: rgb(209, 85, 85);
            color: white;
            border-radius: 50%;
            padding: 2px;
        }
    }
}

.roadmap_item {
    height: $roadmap_item_height;
    line-height: $roadmap_item_height;
    display: flex;

    &__line {
        width: 60px;
    }

    &__line_svg {
        @include line_svg();
    }
}
