@import "global_vars";

.sidebar-container {
    width: 230px;
    color: $black;
    display: flex;
    flex-direction: column;
    gap: 34px;
    position: fixed;
    height: 100vh;
    margin-right: 80px;

    .settings {
        margin-top: 150px;
        margin-bottom: 30px;
    }

    .logo-container {
        width: 70px;
        height: 30px;

        img {
            width: 100%;
        }
    }

    .dividing-line {
        width: 80%;
        height: 1px;
        background-color: #dee2e2;
    }

    .sidebar-item {
        cursor: pointer;

        img {
            width: 20px;
        }

        a {
            display: flex;
            gap: 12px;
            align-items: center;
            color: $black;
            transition: 0.3s;
        }

        &:hover a,
        a.menu_active {
            color: $blue-primary;
            font-weight: 600;
            transition: color 0.3s;
        }

        &:hover img,
        a.menu_active img {
            transition: 0.2s;
            filter: invert(70%) sepia(14%) saturate(980%) hue-rotate(134deg) brightness(94%) contrast(93%);
        }
    }
}

.social_media {
    &__container {
        padding: 20px 20px 20px 40px;
    }

    &__link {
        color: #adadad;
        font-weight: 300;
    }
}

.mob_nav_bar {
    background-color: white;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    height: 60px;
    padding: 16px 42px;
    box-sizing: border-box;
    z-index: 2000;

    a {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1330px) {
    .sidebar-container {
        width: 12.6%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        background-color: white;
        padding: 16px 50px;
        padding-top: 50px;
        backdrop-filter: brightness(60%);
        animation-name: sidebar;
        animation-duration: 0.6s;
        transform: translateX(-100%);
        animation-fill-mode: forwards;

        .dividing-line {
            width: 100%;
        }

        .settings {
            border-top: 1px solid $global-border;
            padding-top: 32px;
            margin-top: 0;
        }
    }

    @keyframes sidebar {
        100% {
            transform: translateX(0%);
        }

    }
}