@import "global_vars";

:root {
  --toastify-color-error: #E84F5F;
  --toastify-color-success: #6BBE8C;
  --toastify-font-family: "Gilroy", sans-serif;
  --toastify-text-color-light: #000;
  --toastify-color-light: #EEFDF6;
  --toastify-toast-width: 100%;
  --toastify-toast-min-height: 120px;
}

.Toastify__toast-container {
  max-width: 500px;

  .Toastify__toast {
      padding: 26px;
      border-radius: 24px;
      box-shadow: none;

      .Toastify__toast-icon {
          margin-inline-end: 32px;
      }

      .Toastify__close-button {
          align-self: center;
          margin-left: 32px;
      }

      .Toastify__close-button--light {
          color: $black;
          opacity: 1;
      }
  }

  .Toastify__toast--error.Toastify__toast-theme--light {
      --toastify-color-light: #FFF2F2;
  }
}