@import "global_vars";

.d-flex {
  display: flex;
}

.d-none {
    display: none;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.f-basis-50 {
  flex-basis: 50%;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-18 {
  gap: 18px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-40 {
  gap: 40px;
}

.position-relative {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.clickable {
    cursor: pointer;
}

.s-16 {
  width: 16px;
  height: 16px;
}

.w-94 {
  width: 94%;
}

.w-100 {
  width: 100%;
}

.w-55px {
  width: 55px;
}

.w-100px {
  width: 100px;
}

.w-300px {
  width: 300px;
}

.h-16px {
  height: 16px;
}

.h-20px {
    height: 20px;
}

.h-64px {
  height: 64px;
}
.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 0.5;
}

.line-height-1 {
  line-height: 25.6px;
}

.text-center {
  text-align: center;
}

.ft-weight-600 {
  font-weight: 600;
}

.ft-weight-700 {
  font-weight: 700;
}

.grey-150 {
  color: $grey-150;
}

.grey-160 {
  color: $grey-160;
}

.grey-190 {
  color: $grey-190;
}

.black {
  color: $black;
}

.cyan-20 {
  color: $cyan-20;
}

.red-10 {
  color: $red-10;
}

.red-20 {
  color: $red-20;
}

.pl-25 {
  padding-left: 25px;
}

.ft-size-14 {
  font-size: 14px;
}

.ft-size-18 {
  font-size: 18px;
}

.ft-size-32 {
  font-size: 32px;
}

@media only screen and (min-width: $desktop-lg-min-width) {
  .d-desktop-none {
      display: none;
  }
}

@media only screen and (min-width: $tablet-min-width) {
    .tablet-desktop-none {
        display: none;
    }

    .justify-between-tablet {
      justify-content: space-between;
    }
}

@media only screen and (min-width: $tablet-min-width) and (max-width: $desktop-max-width) {
    .d-tablet-none {
        display: none;
    }

    .d-tablet-block {
        margin-top: 40px;
        display: block;
    }
}

@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .tablet-none {
        display: none;
    }
}

@media only screen and (max-width: $desktop-max-width) {
    .d-tablet-mobile-none {
        display: none;
    }
}

@media only screen and (max-width: $tablet-max-width) {
  .d-tablet-flex-column {
      flex-direction: column;
  }
}

@media only screen and (max-width: $mobile-max-width) {
  .d-mobile-block {
      display: block;
  }

  .d-mobile-none {
      display: none;
  }
}