@import "global_vars";

.dao_funds {
    &__cont_in_withdraw {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        gap: 12px;
        color: rgb(41, 38, 38);

        #dao_funds__val {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

.withdraw-container {
    padding: 30px;
    border-radius: $global-border-radius;
    border: 1px solid $global-border;
    background-color: $global-blue-background;

    .title {
        font-size: 1.5rem;
        color: $global-light-blue;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .labeled_input {
        margin-bottom: 30px;

        .label-input-style {
            padding-left: 40px;
        }

        .labeled_input__label {
            margin-bottom: 12px;
            font-weight: 600;
            font-size: 16px;
        }
    }
}

.input_with_currency__container {
    position: relative;

    img {
        position: absolute;
        left: 35px;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .label-input-style {
        padding-left: 52px;
    }
}