@import "global_vars";

.dao_funds {
    &__cont_in_withdraw {
        margin-top: -28px;
        display: flex;
        align-items: center;
        gap: 12px;
        color: $grey-180;

        #dao_funds__val {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

@media only screen and (max-width: $tablet-max-width) {
    .dao_funds {
        &__cont_in_withdraw {
            margin-top: -8px;
        }
    }
}

@media only screen and (max-width: $mobile-max-width) {
    .dao_funds {
        &__cont_in_withdraw {
            margin-top: -16px;
        }
    }
}

.input_with_image__container {
    position: relative;

    img {
        position: absolute;
        left: 35px;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .label-input-style {
        padding-left: 56px;
    }
}

.textarea_with_image__container {
    position: relative;

    img {
        position: absolute;
        left: 24px;
        top: 22px;
    }

    textarea {
        padding-left: 56px;
    }
}

@media only screen and (max-width: $mobile-max-width) {
    .textarea-withdraw textarea {
        height: 150px;
    }
}